<h1>Omn omn omn</h1>
<p>
	Now <%= @time %>
</p>
<p>Say <%= link_to "Goodbay", say_goodbay_path %>!
<p>Say <%= link_to "File list", say_filelist_path %>!
<p> <%= 1+2 %>
<p> <%= "cow"+"boy" %>	
<p> <%= 1.hour.from_now %>	